<html>
<h1>Books</h1>

<head></head>
<body>
  <p id="notice"></p>
  <table>
   <thead>
     <tr>
      <th>Title</th>
      <th>body</th>
      <th></th>
      <th></th>
      <th></th>
     </tr>
   </thead>
   <tbody>
     <h1></h1>
  <% @books.each do |book| %>
     <tr>
       <td><%= book.title %></td>
       <td><%= book.body %></td>
       <td><%= link_to "Show", book_path(book)%></td>
       <td><%= link_to "Edit", edit_book_path(book) %></td>
       <td><%= link_to "Destroy", book_path(book), method: :delete %></td>
     </tr>
     <% end %>
    </tbody>
  </table>
   <h2>New Books</h2>
<!-- form_with部分 -->
<%= form_with model: @book, url:'/books', local:true do |f| %>
    <% if @book.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <ul>
          <p>  <%= @book.errors.count %> errors prohibited this book from being saved:</p>
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <h3>Title</h3>
  <%= f.text_field :title %>
  <h4>Body</h4>
  <%= f.text_area :body %>
  <%= f.submit 'Create Book' %>
<% end %>
  </div>
  </body>
  </html>